<div class="col-md-8" class="fluid-container">
	
	<ul class="breadcrumb">
        <li class="cancelProfileEditAlert btn-link">Profiles</li>
		<li class="cancelProxyEditAlert btn-link">{{profileName}}</li>
		<li class="active">{{proxy.Name}}</li>
    </ul>

		<h2>{{proxy.Name}}</h2>
		<ul class="nav nav-tabs">
		  <li ng-class="{active: selectedTab == 1}" style="cursor:pointer;"><a data-toggle="tab" role="tab" ng-click="selectedTab = 1;">Authentication</a></li>
		  <li ng-class="{active: selectedTab == 2}" style="cursor:pointer;"><a role="tab" data-toggle="tab" ng-click="selectedTab = 2;">Global Policies</a></li>
		  <li ng-class="{active: selectedTab == 3}" style="cursor:pointer;"><a role="tab" data-toggle="tab" ng-click="selectedTab = 3;">Resources</a></li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
				<div ng-class="{active: selectedTab == 1}"  ng-show="selectedTab == 1">
					<div class="form-horizontal">
						<div class="form-group" style="margin-bottom: 10px;">
							<label for="inputScopes" class="col-sm-2 control-label">Scopes: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputScopes" ng-model="proxy.Authentication.Scopes">
							</div>
						</div>
						<div class="col-lg-6" ng-repeat="(key, value) in proxy.Authentication" ng-if="key!='Scopes'">
							<div class="input-group"">
								<span class="input-group-addon">
									<input type="checkbox" ng-model="proxy.Authentication[key]" ng-true-value="'True'" ng-false-value="'False'" >
								</span>
								<input type="text" class="form-control" value="{{key}}" disabled>
							</div>
						</div>
					</div>
				</div>
				
				<div ng-class="{active: selectedTab == 2}" ng-show="selectedTab == 2">
					<div class="col-xs-12" style="margin-bottom:10px;">
						<button class="btn btn-default pull-right tbdAlert" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Policy</button>
					</div>
					<div class="form-horizontal">
						<div class="col-lg-6" ng-repeat="(key, value) in proxy.CommonPolicies">
							<div class="input-group"">
								<span class="input-group-addon">
									<input type="checkbox" ng-model="proxy.CommonPolicies[key]" ng-true-value="'True'" ng-false-value="'False'" >
								</span>
								<input type="text" class="form-control" value="{{key}}" disabled>
							</div>
						</div>
					</div>
				</div>
				<div ng-class="{active: selectedTab == 3}" ng-show="selectedTab == 3">
					<table ng-table="profilesTable"class="table table-bordered table-striped table-hover">
						<tr>
							<th>Resource Name</th>
							<th>Resource Path</th>
							<th>Target URL</th>
							<th>Verbs</th>
							<th>Response Template</th>
						</tr>
					  <tr ng-repeat="res in proxy.Resources">
						<td><input type="text" ng-model="res.name"></td>
						<td><input type="text" ng-model="res.resourcebasepath"></td>
						<td><input type="text" ng-model="res.backend"></td>
						<td><tags-input ng-model="tags[$index]"  add-from-autocomplete-only="true"
								on-tag-added="addedTag(tags[$index], $index)" on-tag-removed="removedTag(tags[$index], $index)">
								<auto-complete source="loadMethods(tags[$index],$query)" min-length="0" load-on-focus="true" load-on-empty="true"></auto-complete>
						</tags-input></td>
						<td><div>
								<textarea rows="5" cols="30" ng-model="fields[$index]" ng-change="changedJson($index)" style="resize:none;">
								</textarea>
							</div>
						</td>
					  </tr>
					</table>
				</div>
			</div>
		</div>
		<div class="btn-group pull-right" role="group" aria-label="...">
		  <button type="button" class="btn btn-primary" ng-click="saveProxy();">Save</button>
		  <button type="button" class="btn btn-danger cancelProxyEditAlert">Cancel</button>
		</div>
</div>